In [1]:
import pandas as pd

In [3]:
streets_df = pd.read_csv('streets.csv')

In [8]:
streets_df.sort_values(by='cn_count', ascending=False).head(100)

      cn_count street_code
810       4770         e14
136       3102         se1
670       2928          s3
1045      2630          m1
545       2564         le2
...        ...         ...
1220       882          n4
1244       870         eh8
762        868         m11
1057       865         sw8
693        856          e2

[100 rows x 2 columns]

In [10]:
streets_df['cn_count'].sum()

378973

In [11]:
postcodes_df = pd.read_csv('postcodes.csv')

In [16]:
reading_filter = postcodes_df["Postcode"].str.startswith('RG', na = False)

In [17]:
reading_df = postcodes_df[reading_filter]

In [20]:
reading_df.Postcode.unique()

45599

In [21]:
reading_postcodes = pd.DataFrame(reading_df.Postcode.unique(), columns=['postcode'])

In [37]:
reading_postcodes['postcode'] = reading_postcodes['postcode'].str.lower().replace(" ","")

In [34]:
reading_postcodes.to_csv('reading_postcodes.csv')

In [40]:
reading_streets = pd.read_csv('reading_streets.csv')

In [41]:
reading_streets.head()

   cn_count street_code
0         3      rg11aa
1         5      rg11at
2         6      rg11as
3         5      rg11aj
4         5      rg11ar

In [ ]:
reading_streets.sort_values(by='cn_count', ascending=False)