In [1]:
import pandas as pd

In [3]:
streets_df = pd.read_csv('streets.csv')

In [8]:
streets_df.sort_values(by='cn_count', ascending=False).head(100)

      cn_count street_code
810       4770         e14
136       3102         se1
670       2928          s3
1045      2630          m1
545       2564         le2
...        ...         ...
1220       882          n4
1244       870         eh8
762        868         m11
1057       865         sw8
693        856          e2

[100 rows x 2 columns]

In [10]:
streets_df['cn_count'].sum()

378973

In [11]:
postcodes_df = pd.read_csv('postcodes.csv')

In [47]:
reading_filter_rg1 = postcodes_df["Postcode"].str.startswith('RG1', na = False)

In [50]:
reading_df_rg1 = postcodes_df[reading_filter]

In [20]:
reading_df.Postcode.unique()

45599

In [51]:
reading_postcodes = pd.DataFrame(reading_df_rg1.Postcode.unique(), columns=['postcode'])

In [52]:
reading_postcodes['postcode'] = reading_postcodes['postcode'].str.lower().replace(" ","")

In [53]:
reading_postcodes.to_csv('reading_postcodes_rg1.csv')

In [45]:
reading_streets = pd.read_csv('items_reading_19.csv')

In [46]:
reading_streets.head()

,_type,ab_people_rate,cn_count,cn_rate,fulltime_rate,street_code,white_rate
0,Street,0.433,3,0.012,0.544,rg11aa,0.644
1,Street,0.514,5,0.014,0.385,rg11af,0.752
2,Street,0.514,5,0.014,0.385,rg11ag,0.752
3,Street,0.581,6,0.028,0.702,rg11ah,0.448
4,Street,0.514,5,0.014,0.385,rg11aj,0.752

In [42]:
reading_streets.sort_values(by='cn_count', ascending=False)

      cn_count street_code
1123       101      rg15ja
1131       101      rg15jl
1132       101      rg15jn
1122        37      rg15hz
1136        37      rg15js
...        ...         ...
1925         1      rg18lh
1751         1      rg17uy
1750         1      rg17uw
1924         1      rg18lg
1868         1      rg18ew

[2156 rows x 2 columns]